*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: rgb(28, 66, 106);
}

a { text-decoration: none; }

body {
  margin-top: 60px;
  margin-left: 40px;
}

.title {
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button {
  cursor: pointer;
  width: fit-content;
  padding: 5px 8px;
  transition: all 250ms ease-in-out;
  background: #fff;
  border: 1px solid rgb(28, 35, 62);
  border-radius: 3px;
}

button:hover,
#submit:hover {
  padding: 7px 11px;
  cursor: pointer;
}

.results {
  display: block;
  width: 450px;
}

.results-title {
  display: flex;
  flex-direction: row;
  gap: 25%;
  margin-bottom: 15px;
}

.results-table {
  display: block;
  border: 2px solid rgb(50, 121, 183);
  border-radius: 5px;
  width: fit-content;
  margin: -5px;
}

.results-table tr td {
  width: 350px;
  padding: 5px;
}

.results-table tr:nth-child(odd) {
  background: rgb(173, 203, 229);
}

.form-submit h2 {
  margin-bottom: 15px;
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}

.app-form input {
  padding: 6px;
  border: 1px solid rgb(30, 61, 88);
  color: rgb(31, 31, 68);
  border-radius: 3px;
}

.app-form #submit {
  width: fit-content;
  transition: all 250ms ease-in-out;
  background: #fff;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }

  .app-form {
    align-items: baseline;
  }
}
